/* Global */
:root {
  --primary-bg-color: #fff;
  --secondary-bg-color: #2f303a;
  --tertiary-bg-color: #f5f4fa;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --accent-color: #18a0fb;
  --accent-button-color: #188ce8;
  --primary-border-color: #ececec;
  --secondary-border-color: #eeeeee;
  --icon-primary-color: #afb1b8;
  --icon-accent-color: #2196f3;
  --icon-bg-color: rgba(255, 255, 255, 0.1);
}
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section:nth-child(3) {
  padding-top: 0;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 50px;
}
/* Header */
.site-header {
  border-bottom: 1px solid var(--primary-border-color);
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  margin-right: 93px;
}
.logo > .logo-half-header {
  color: var(--primary-text-color);
}
.logo > .logo-half-footer {
  color: var(--primary-white-color);
}
/* Flex */
.flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
/* Navigation */
.nav-menu-item,
.header-contacts-item {
  margin-left: 50px;
}
.nav-menu-item:first-child,
.header-contacts-item:first-child {
  margin-left: 0;
}
.nav-menu-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current.nav-menu-link::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  background-color: #2196f3;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}
.nav-menu-link:hover,
.nav-menu-link:focus {
  color: var(--accent-color);
}
.current.nav-menu-link {
  color: var(--accent-color);
}
/* Contacts */
.contacts {
  margin-left: auto;
}
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-icon {
  margin-right: 10px;
}
.footer-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}
/* Promo */
.promo {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/index/promo-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin: 0 auto;
}
.promo-title {
  max-width: 696px;
  font-weight: 900;
  text-align: center;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin: 0 auto 30px auto;
}
.promo-button {
  position: relative;
  font-weight: 700;
  line-height: 1.85;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.promo-button:hover,
.promo-button:focus {
  background-color: var(--accent-button-color);
}
.promo-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.promo-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.promo-backdrop.is-hidden .promo-modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.promo-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 582px;
  transform: translate(-50%, -50%) scale(1);
  padding: 15px;
  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.promo-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/icons/close.svg);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.offer-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
}
/* About Us */
.about-us-item,
.what-we-do-item,
.our-team-card,
.partners-item {
  margin-right: 30px;
}
.about-us-item {
  width: 270px;
}
.about-us-item:last-child,
.what-we-do-item:last-child,
.our-team-card:last-child,
.partners-item:last-child {
  margin-right: 0;
}
.about-us-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--tertiary-bg-color);
  margin-bottom: 30px;
}
.about-us-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-us-description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
/* What We Do */
.what-we-do-item {
  position: relative;
}
.what-we-do-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}
/* Our Team */
.our-team {
  background-color: var(--tertiary-bg-color);
}
.our-team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}
.our-team-list {
  align-items: flex-start;
}
.our-team-card-footer {
  padding: 30px;
  text-align: center;
  background-color: var(--primary-bg-color);
}
.our-team-card-title {
  font-weight: 500;
  line-height: 1.19;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.our-team-card-description {
  line-height: 1.19;
  color: var(--secondary-text-color);
  margin-bottom: auto;
}
.our-team-social {
  margin-top: 16px;
}
.our-team-social-item:not(:last-child) {
  margin-right: 10px;
}
.our-team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-primary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.our-team-social-link:hover,
.our-team-social-link:focus {
  fill: var(--primary-white-color);
  background-color: var(--icon-accent-color);
}
/* Partners */
.partners-list {
  margin-right: 30px;
}
.partners-link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-primary-color);
  border-radius: 4px;
  justify-content: center;
  fill: var(--icon-primary-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.partners-link:hover,
.partners-link:focus {
  border: 1px solid var(--icon-accent-color);
  fill: var(--icon-accent-color);
}
/* Filter */
.filter-buttons {
  margin-bottom: 50px;
  justify-content: center;
}
.filter-button-item {
  margin-right: 8px;
}
.filter-button-item:last-child {
  margin-right: 0;
}
.filter-button {
  font-weight: 500;
  line-height: 1.62;
  color: var(--primary-text-color);
  background-color: var(--tertiary-bg-color);
  cursor: pointer;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.current > .filter-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Portfolio */
.portfolio-cards {
  flex-wrap: wrap;
}
.portfolio-card {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-link:hover,
.portfolio-card-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card:nth-child(3n + 3) {
  margin-right: 0;
}
.portfolio-card:nth-child(n + 7) {
  margin-bottom: 0;
}
.portfolio-card-picture {
  position: relative;
  overflow: hidden;
}
.portfolio-card-picture::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 64px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 64px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-link:hover .portfolio-card-picture::before,
.portfolio-card-link:focus .portfolio-card-picture::before {
  transform: translateY(0);
}
.portfolio-card-link:hover .portfolio-card-text,
.portfolio-card-link:focus .portfolio-card-text {
  transform: translateY(0);
}
.portfolio-card .portfolio-card-footer {
  padding: 20px 24px;
  border: 1px solid var(--secondary-border-color);
  border-top: none;
}
.portfolio-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.portfolio-card-description {
  line-height: 1.25;
  color: var(--secondary-text-color);
}
/* Footer */
.site-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}
.site-footer .container {
  align-items: baseline;
}
.footer-contacts {
  font-style: normal;
  color: var(--primary-white-color);
  margin-top: 20px;
}
.contacts-list,
.footer-contacts .contacts-item:last-child {
  margin-top: 9px;
}
.footer-join {
  margin-left: 70px;
}
.footer-subcription {
  margin-left: 93px;
}
.footer-block-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}
.footer-social-item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--icon-bg-color);
  fill: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--icon-accent-color);
}
.footer-form-input {
  width: 358px;
  height: 50px;
  color: var(--secondary-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  line-height: 1.25;
  padding-left: 16px;
  margin-right: 12px;
}
.footer-form-submit {
  font-weight: 700;
  line-height: 1.875;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  width: 200px;
  height: 50px;
  background: var(--icon-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
}
.footer-submit-icon {
  margin-left: 12px;
  fill: var(--primary-white-color);
}
