$colorWhite: #ffffff;
$colorBlackRock: #2f303a;
$colorGhostWhite: #f5f4fa;
$colorNero: #212121;
$colorGrey: #757575;
$colorWhite: rgba(255, 255, 255, 0.6);
$colorBlack: #000000;
$color: #18a0fb;
$colorDodgerBlue: #188ce8;
$color: #ececec;
$color: #eeeeee;
$color: #afb1b8;
$color: #2196f3;
$color: rgba(255, 255, 255, 0.1);
